@model TaskManagement.Models.AppTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AppTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedHours)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
